@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("./fontcss/satoshi.css");
@import url("./fontcss/Humane.css");
@import url("./fontcss/Dirtyline.css");

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  body {
    /* background-color: #F4E0B9 !important; */
    /* background-color: #191919 !important; */
    background-color: #eeedeb !important;
    box-sizing: border-box;
    list-style: none;
  }
  h1 {
    font-family: "HumaneBlack", Georgia;
    line-height: normal;
    color: #747264;
  }
  h2 {
    color: #3c3633;
  }
  .textglobal {
    color: #3c3633;
  }
  .textglobal2 {
    color: #747264;
  }
  .buttonbg {
    background-color: #3c3633;
    color: white;
  }
  .bg-action {
    background-color: #747264;
  }
  .humane {
    font-family: "HumaneSemBd", Georgia;
    margin-left: 3px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

.text-red-sam {
  color: #c5191b;
}
.about-name {
  font-family: "Satoshi-Black", sans-serif;
}

.mySwiper .swiper-slide {
  filter: blur(3px);
  opacity: 0.5;
}

.mySwiper .swiper-slide-active {
  filter: blur(0);
  opacity: 1;
}
.swiper-button-disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
video::-webkit-media-controls {
  display: none;
}

/* Only necessary with horizontal scrolling */
/* html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }
    [data-scroll-container] {
        display: flex;
    }
} */

.fit {
  font-family: "fit-extended", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gSjwgs {
  display: flex;
  -webkit-box-pack: center;
  flex-direction: row;
  flex: 1 0 auto;
  width: max-content;
}
.buhRBc {
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    max-height: 2rem;
    background-color: white;
    color: black;
    border-radius: 4px;
}
.bAWRiG {
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}

.gQsTPR {
    position: absolute;
    top: 50%;
    right: -7.5px;
    display: block;
    width: 8px;
    color: white;
    transform: translateY(-50%);
}
.goBXkq path {
    stroke: none;
    fill: currentcolor;
}
.jjBtBa {
    font-family: FKGroteskMonoRegular, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.iaKWpD {
    z-index: 100;
    line-height: 1;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    gap: 0px 0.3125rem;
    padding: 0.6875rem 1rem 0.59375rem;
}